/* Global */
* {
  box-sizing: border-box;
}
:root {
  --regular: Pop-regular;
  --semiBold: Pop-semiBold;
  --medium: Pop-medium;
}
.global__container {
  max-width: 1340px;
  margin: 0 auto;
}

/* Header  */
.header {
  padding-top: 55px;
  padding-bottom: 73px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}
.header__top-logo {
  font-family: var(--regular);
  font-size: 36px;
  color: #000;
  padding-top: 11px;
}
.header__top-logo span {
  color: #939393;
}
.header__nav {
  display: flex;
  gap: 39px;
  padding-top: 21px;
  margin-left: 8px;
}
.header__nav-link {
  font-family: var(--medium);
  font-size: 20px;
  color: #263238;
  text-decoration: none;
  cursor: pointer;
}
.header__top-btn {
  border: 2px solid #263238;
  border-radius: 5px;
  width: 220px;
  height: 70px;
  background-color: #fff;
  font-family: var(--regular);
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.sidenav-trigger {
  display: none;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
}
.header__left {
  max-width: 550px;
}
.header__box {
  display: flex;
  margin-bottom: 40px;
  padding-top: 49px;
}
.header__box-title {
  font-family: var(--semiBold);
  font-size: 64px;
  line-height: 125%;
  color: #000;
  max-width: 400px;
}
.header__box-icon {
  width: 117px;
  height: 117px;
  margin-top: 94px;
  margin-left: 25px;
}
.header__left-txt {
  font-family: var(--regular);
  font-size: 24px;
  color: #8f95a5;
  margin-bottom: 62px;
  line-height: 150%;
}
.header__left-btn {
  border-radius: 15px;
  width: 438px;
  height: 118px;
  background: #263238;
  font-family: var(--regular);
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}
.header__bottom-img {
  width: 661px;
  height: 661px;
  margin-right: -8px;
}

/* Skills */
.skills {
  padding-top: 30px;
  padding-bottom: 200px;
}
.skills-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 92px;
  text-align: center;
}
.skills__inner {
  display: grid;
  grid-template-columns: 435px 435px 435px;
  grid-template-rows: 531px 343px;
  row-gap: 18px;
  column-gap: 20px;
}
.skills__card {
  border-radius: 10px;
  background: #f5f5f5;
}
.skills__card-1 {
  grid-row: 1/3;
  padding-left: 40px;
  padding-right: 45px;
  padding-top: 35px;
}
.skills__card-1 .skills__card-img {
  margin-bottom: 1px;
  max-width: 390px;
  max-height: 390px;
  margin-left: -22px;
  margin-top: 4px;
}
.skills__card-1 .skills__card-title {
  margin-bottom: 5px;
}
.skills__card span {
  padding-bottom: 25px;
  display: block;
}
.skills__card-1 .skills__card-btn {
  margin-top: 36px;
}
.skills__card-img {
}
.skills__card-title {
  font-family: var(--semiBold);
  font-size: 30px;
  line-height: 267%;
  color: #263238;
}
.skills__card-txt {
  font-family: var(--regular);
  font-size: 14px;
  color: #8f95a5;
  line-height: 150%;
}
.skills__card-btn {
  border-radius: 5px;
  width: 230px;
  height: 60px;
  background: #263238;
  font-family: var(--medium);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.skills__card-2 {
  padding-left: 36px;
  padding-right: 10px;
}
.skills__card-2 .skills__card-img {
  max-width: 293px;
  max-height: 293px;
  margin-left: 80px;
}
.skills__card-2 .skills__card-title {
  margin-top: -41px;
}
.skills__card-2 .skills__card-txt {
  margin-top: -8px;
}
.skills__card-2 .skills__card-btn {
  margin-top: 32px;
  width: 218px;
  height: 60px;
}
.skills__card-3 {
  padding-left: 33px;
  padding-top: 12px;
  padding-right: 35px;
}
.skills__card-3 .skills__card-img {
  max-width: 371px;
  max-height: 247px;
  margin-left: -40px;
}
.skills__card-3 .skills__card-title {
  margin-top: -4px;
}
.skills__card-3 .skills__card-txt {
  margin-top: -13px;
  margin-left: 2px;
}
.skills__card-3 .skills__card-btn {
  margin-top: 34px;
  margin-left: 2px;
  width: 218px;
  height: 60px;
}
.skills__card-4 {
  grid-column: 2/4;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 43px;
  justify-content: start;
}
.skills__card-4 .skills__card-img {
  width: 382px;
  height: 310px;
  padding-top: 49px;
  margin-left: 90px;
}
.skills__card-4 .skills__card-title {
  padding-top: 50px;
}
.skills__card-4 .skills__card-txt {
  max-width: 340px;
  margin-top: -5px;
}
.skills__card-4 .skills__card-btn {
  margin-top: 25px;
  width: 218px;
  height: 60px;
  margin-left: -4px;
}
.skills__card_content {
}

/* About */
.about {
  padding-bottom: 188px;
  padding-top: 58px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__content {
  max-width: 635px;
  padding-top: 31px;
  margin-left: 1px;
}
.about__content-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 23px;
}
.about__content-title_mobile {
  display: none;
}
.about__content-txt {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
  margin-bottom: 38px;
  line-height: 150%;

}
.about__items {
  display: flex;
}
.about__item {
  text-align: center;
}
.about__items-2 {
  margin-left: 141px;
}
.about__items-3 {
  margin-left: 89px;
}
.about__item-number {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #2a3246;
  margin-bottom: 3px;
}
.about__item-name {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
}
.about-img {
  width: 500px;
  height: 500px;
  margin-right: 11px;
}

/* Pricing */
.pricing {
  padding-bottom: 257px;
}
.pricing-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 58px;
  text-align: center;
}
.pricing__inner {
  display: flex;
}
.pricing__item {
}
.pricing__item-img {
}
.pricing__item-name {
  font-family: var(--semiBold);
  font-size: 30px;
  line-height: 160%;
  color: #263238;
}
.pricing__item-txt {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
  line-height: 150%;
}
.pricing__price {
  border-radius: 5px;
  width: 240px;
  height: 45px;
  background: #eee;
  display: flex;
}
.pricing__price-number {
  font-family: var(--regular);
  font-size: 30px;
  color: #263238;
}
.pricing__price-date {
  font-family: var(--regular);
  font-size: 18px;
  color: #546269;
}
.pricing__item-1 {

}
.pricing__item-1 img {
  width: 311px;
  height: 311px;
  margin-left: 26px;
  margin-bottom: 37px;
}
.pricing__item-1 h3 {
  margin-bottom: 20px;
}
.pricing__item-1 p {
  max-width: 650px;
  margin-bottom: 27px;
}
.pricing__item-1 .pricing__price-number {
  margin-left: 26px;
  padding-top: 9px;
}
.pricing__item-1 .pricing__price-date {
  margin-left: 13px;
  padding-top: 12px;
}
.pricing__item-2 {
  margin-left: 53px;
}
.pricing__item-2 img {
  width: 391px;
  height: 283px;
  margin-left: -2px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.pricing__item-2 h3 {
  margin-bottom: 23px;
}
.pricing__item-2 p {
  max-width: 400px;
  margin-bottom: 58px;
}
.pricing__item-2 .pricing__price {
  margin-left: 3px;
}
.pricing__item-2 .pricing__price-number {
  margin-left: 19px;
  padding-top: 9px;
}
.pricing__item-2 .pricing__price-date {
  margin-left: 8px;
  padding-top: 12px;
}
.pricing__item-3 {
  margin-left: 37px;
}
.pricing__item-3 img {
  width: 340px;
  height: 340px;
  margin-left: 51px;
  margin-top: -1px;
  margin-bottom: 9px;
}
.pricing__item-3 h3 {
  margin-bottom: 20px;
}
.pricing__item-3 p {
  margin-bottom: 58px;
  max-width: 670px;
}
.pricing__item-3 .pricing__price {
}
.pricing__item-3 .pricing__price-number {
  margin-left: 17px;
  padding-top: 8px;
}
.pricing__item-3 .pricing__price-date {
  margin-left: 7px;
  padding-top: 12px;
}

/* Contact */
.contact {
  margin-bottom: 133px;
}
.contact__inner {
  display: flex;
}
.contact-img {
  width: 477px;
  height: 429px;
  margin-left: -19px;
}
.contact__content {
  margin-left: 112px;
  padding-top: 34px;
}
.contact__content-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 37px;
}
.contact__content-title_mobile {
  display: none;
}
.contact__content-txt {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
  margin-bottom: 52px;
  line-height: 150%;
}
.contact__form {
  display: flex;
}
.contact__form-email_inside {
  border: 1px solid #8f95a5;
  border-radius: 10px;
  width: 450px;
  height: 80px;
  font-family: var(--regular);
  font-size: 16px;
  color: #8f95a5;
  padding-left: 32px;
  margin-left: 1px;
}
.contact__form-btn_inside {
  margin-left: 12px;
  border-radius: 10px;
  width: 264px;
  height: 80px;
  background: #263238;
  font-family: var(--medium);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-top: -3px;
}

/* Footer  */
.footer {
  padding-bottom: 58px;
}
.footer__line {
  width: 1338px;
  height: 1px;
  background: #c4c4c4;
  margin: 0 auto;
}
.footer__inner {
  display: flex;
  padding-top: 41px;
  justify-content: space-between;
}
.footer-logo {
  font-family: var(--regular);
  font-size: 36px;
  color: #000;
  margin-left: 1px;
}
.footer-logo span {
  color: #939393;
}
.footer-nav {
  color: #8f95a5;
  font-family: var(--regular);
  font-size: 24px;
  padding-top: 21px;
  margin-right: -3px;
}
.footer-nav a {
  text-decoration: none;
  color: #8f95a5;
  cursor: pointer;
}

/* Media  */

@media screen and (max-width: 1400px) {
  .global__container {
    max-width: 942px;
    margin: 0 auto;
  }
  .header {
    padding-top: 25px;
    margin-bottom: 0px;
  }
  .header__top {
    margin-bottom: 33px;
  }
  .header__top-logo {
    font-size: 30px;
    padding-left: 6px;
    padding-top: 13px;
  }
  .header__nav {
    gap: 31px;
    padding-top: 23px;
    margin-left: 65px;
  }
  .header__nav-link {
    font-size: 16px;
  }
  .header__top-btn {
    width: 160px;
    height: 50px;
    font-size: 18px;
    margin-right: 6px;
  }
  .header__bottom {
    margin-left: 4px;
  }
  .header__box {
    margin-bottom: 40px;
    padding-top: 49px;
  }
  .header__box-title {
    font-size: 48px;
    max-width: 300px;
    line-height: 133%;
  }
  .header__box-icon {
    width: 80px;
    height: 80px;
    margin-top: 90px;
    margin-left: 3px;
  }
  .header__left-txt {
    font-size: 20px;
    margin-top: -14px;
    margin-left: 3px;
    max-width: 420px;
    margin-bottom: 33px;
  }
  .header__left-btn {
    border-radius: 5px;
    width: 292px;
    height: 80px;
    font-size: 24px;
  }
  .header__bottom-img {
    width: 460px;
    height: 460px;
    margin-right: -5px;
    margin-top: 35px;
  }

  .skills {
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: -15px;
  }
  .skills-title {
    font-size: 36px;
    margin-bottom: 60px;
  }
  .skills__inner {
    grid-template-columns: 303px 303px 303px;
    grid-template-rows: 441px 241px;
    gap: 13px;
    margin-left: 6px;
  }
  .skills__card-1 {
    padding-top: 0px;
    padding-left: 30px;
  }
  .skills__card-1 .skills__card-img { 
    margin-bottom: 9px;
    margin-left: -7px;
    margin-top: 1px;
    max-width: 260px;
    max-height: 260px;
  }
  .skills__card-1 .skills__card-title {
    margin-bottom: 2px;
  }
  .skills__card span {
    padding-bottom: 20px;
  }
  .skills__card-1 .skills__card-btn {
    margin-top: 24px;
    margin-left: -1px;
  }
  .skills__card-title {
    font-size: 22px;
  }
  .skills__card-txt {
    font-size: 14px;
  }
  .skills__card-btn {
    width: 196px;
    height: 57px;
    font-size: 18px;
  }
  .skills__card-2 {
    padding-left: 30px;
    padding-top: 7px;
  }
  .skills__card-2 .skills__card-img {
    margin-left: 57px;
    max-width: 205px;
    max-height: 205px;
  }
  .skills__card-2 .skills__card-title {
    margin-top: -21px;
  }
  .skills__card-2 .skills__card-txt {
    margin-top: -3px;
  }
  .skills__card-2 .skills__card-btn {
    margin-top: 22px;
    width: 196px;
    height: 57px;
  }
  .skills__card-3 {
    padding-left: 24px;
    padding-top: 17px;
  }
  .skills__card-3 .skills__card-img {
    margin-left: -22px;
    max-width: 243px;
    max-height: 162px;
  }
  .skills__card-3 .skills__card-title {
    margin-top: 12px;
  }
  .skills__card-3 .skills__card-txt {
    margin-top: -5px;
    margin-left: 1px;
  }
  .skills__card-3 .skills__card-btn {
    margin-top: 23px;
    width: 196px;
    height: 57px;
  }
  .skills__card-4 {
    padding-left: 30px;
  }
  .skills__card-4 .skills__card-img {
    padding-top: 33px;
    margin-left: 23px;
    width: 254px;
    height: 210px;
  }
  .skills__card-4 .skills__card-title {
    padding-top: 16px;
  }
  .skills__card-4 .skills__card-txt {
    max-width: 290px;
    margin-top: -4px;
    margin-left: 2px;
  }
  .skills__card-4 .skills__card-btn {
    margin-top: 18px;
    width: 196px;
    height: 57px;
    margin-left: 0px;
  }

  .about {
    padding-bottom: 109px;
    padding-top: 67px;
  }
  .about__content {
    margin-left: 6px;
    max-width: 510px;
  }
  .about__content-title {
    font-size: 36px;
  }
  .about__content-txt {
    font-size: 16px;
    margin-bottom: 27px;
  }
  .about__item {
    margin-left: 7px;
  }
  .about__items-2 {
    margin-left: 61px;
  }
  .about__items-3 {
    margin-left: 48px;
  }
  .about__item-number {
    margin-bottom: 7px;
    font-size: 30px;
  }
  .about__item-name {
    font-size: 16px;
  }
  .about-img {
    margin-right: 34px;
    width: 336px;
    height: 336px;
    margin-top: 53px;
  }

  .pricing {
    padding-bottom: 140px;
  }
  .pricing-title {
    font-size: 36px;
    margin-bottom: 31px;
  }
  .pricing__item-name {
    font-size: 22px;
  }
  .pricing__item-txt {
    font-size: 16px;
  }
  .pricing__price {
    width: 205px;
    height: 45px;
  }
  .pricing__price-number {
    font-size: 24px;
  }
  .pricing__price-date {
    font-size: 16px;
  }
  .pricing__item-1 img {
    margin-left: 20px;
    margin-bottom: 18px;
    width: 222px;
    height: 222px;
  }
  .pricing__item-1 h3 {
    margin-bottom: 12px;
    margin-left: 5px;
  }
  .pricing__item-1 p {
    width: 300px;
    max-width: auto;
    margin-bottom: 31px;
    margin-left: 6px;
  }
  .pricing__item-1 .pricing__price {
    margin-left: 7px;
  }
  .pricing__item-1 .pricing__price-number {
    margin-left: 18px;
    padding-top: 11px;
  }
  .pricing__item-1 .pricing__price-date {
    margin-left: 14px;
    padding-top: 14px;
  }
  .pricing__item-2 {
    margin-left: 36px;
  }
  .pricing__item-2 img {
    margin-bottom: 20px;
    width: 267px;
    height: 195px;
    margin-left: -17px;
  }
  .pricing__item-2 h3 {
    margin-bottom: 14px;
  }
  .pricing__item-2 p {
    max-width: auto;
    margin-bottom: 52px;
    margin-left: 1px;
    width: 280px;
  }
  .pricing__item-2 .pricing__price {
    margin-left: 2px;
  }
  .pricing__item-2 .pricing__price-number {
    margin-left: 18px;
    padding-top: 11px;
  }
  .pricing__item-2 .pricing__price-date {
    margin-left: 11px;
    padding-top: 16px;
  }
  .pricing__item-3 {
    margin-left: 55px;
  }
  .pricing__item-3 img {
    width: 242px;
    height: 242px;
    margin-left: -18px;
    margin-top: -12px;
  }
  .pricing__item-3 h3 {
    margin-bottom: 8px;
  }
  .pricing__item-3 p {
    margin-bottom: 33px;
    max-width: auto;
    width: 260px;
  }
  .pricing__item-3 .pricing__price-number {
    margin-left: 18px;
    padding-top: 11px;
  }
  .pricing__item-3 .pricing__price-date {
    margin-left: 11px;
    padding-top: 13px;
  }

  .contact {
    margin-bottom: 157px;
  }
  .contact-img {
    margin-left: -12px;
    width: 312px;
    height: 281px;
  }
  .contact__content {
    margin-left: 123px;
    padding-top: 5px;
  }
  .contact__content-title {
    margin-bottom: 13px;
    font-size: 36px;
  }
  .contact__content-txt {
    font-size: 16px;
    margin-left: -14px;
    width: 450px;
    margin-bottom: 34px;
  }
  .contact__form-email_inside {
    padding-left: 37px;
    margin-left: -14px;
    padding-top: 6px;
    width: 323px;
    height: 60px;
    font-size: 14px;
  }
  .contact__form-btn_inside {
    margin-left: 14px;
    margin-top: 0px;
    padding-top: 6px;
    width: 193px;
    height: 60px;
    font-size: 16px;
  }

  .footer {
    padding-bottom: 30px;
  }
  .footer__line {
    width: 929px;
  }
  .footer__inner {
    padding-top: 31px;
  }
  .footer-logo {
    margin-left: 5px;
    font-size: 30px;
  }
  .footer-nav {
    padding-top: 10px;
    margin-right: 6px;
    font-size: 16px;
  }
  .footer-nav a {
    text-decoration: none;
    color: #8f95a5;
    cursor: pointer;
  }
}

@media screen and (max-width: 980px) {
  .global__container {
    max-width: 712px;
  }
  .header__nav {
    display: none;
  }
  .header__top-btn {
    display: none;
  }
  .header {
    padding-top: 25px;
    margin-bottom: 14px;
  }
  .header__top-logo {
    padding-left: 11px;
    padding-top: 21px;
  }
  .header__bottom {
    margin-left: 11px;
  }
  .header__box {
    margin-bottom: 35px;
    padding-top: 40px;
  }
  .header__box-title {
    max-width: 220px;
    line-height: 125%;
    font-size: 36px;
  }
  .header__box-icon {
    width: 70px;
    height: 70px;
    margin-top: 68px;
    margin-left: -2px;
  }
  .header__left-txt {
    font-size: 16px;
    margin-left: 0px;
    max-width: 335px;
  }
  .header__left-btn {
    font-size: 18px;
    width: 236px;
    height: 65px;
  }
  .header__bottom-img {
    margin-right: -12px;
    margin-top: 12px;
    width: 352px;
    height: 352px;
  }
  .sidenav {
    width: 429px;
  }
  .sidenav__top {
    display: flex;
  }
  .sidenav__top-logo {
    font-family: var(--regular);
    font-size: 30px;
    color: #000;
    padding-top: 46px;
    padding-left: 39px;
    margin-bottom: 18px;
  }
  .sidenav__top-logo span {
    color: #939393;
  }
  .sidenav-close {
    padding-top: 22px !important;
    margin-left: 215px;
  }
  .divider {
    width: 364px;
    height: 1px;
    background: #c4c4c4;
    margin-left: 40px !important;
    margin-bottom: 42px !important;
  }
  .sidenav-link {
    font-family: var(--medium);
    font-size: 22px !important;
    line-height: 273%;
    color: #263238;
    margin-left: 6px;
    margin-bottom: 12px;
  }
  .sidenav__top-btn {
    border: 2px solid #263238;
    border-radius: 5px;
    width: 210px !important;
    height: 60px !important;
    font-family: var(--regular) !important;
    font-size: 18px !important;
    color: #000 !important;
    margin-top: 67px;
    margin-left: 39px;
    padding-left: 63px !important;
    padding-top: 4px !important; 
  }
  .sidenav-trigger {
    display: block;
    margin-top: 20px;
    margin-right: 11px;
  }

  .skills {
    padding-bottom: 0px;
  }
  .skills-title {
    margin-bottom: 50px;
    font-size: 30px;
  }
  .skills__inner {
    margin-left: 11px;
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 441px 210px;
    gap: 12px;
  }
  .skills__card-1 {
    padding-top: 0px;
    padding-left: 17px;
  }
  .skills__card-1 .skills__card-img { 
    margin-bottom: 15px;
    margin-left: -16px;
    margin-top: 31px;
    max-width: 214px;
    max-height: 214px;
  }
  .skills__card-1 .skills__card-title {
    margin-bottom: 0px;
  }
  .skills__card-1 .skills__card-txt {
    margin-top: -1px;
    width: 197px;
  }
  .skills__card span {
    padding-bottom: 23px;
  }
  .skills__card-1 .skills__card-btn {
    margin-top: 22px;
    margin-left: 0px;
  }
  .skills__card-title {
    font-size: 20px;
  }
  .skills__card-txt {
    font-size: 13px;
    line-height: 152%;
  }
  .skills__card-btn {
    font-size: 16px;
    width: 178px;
    height: 50px;
  }
  .skills__card-2 {
    padding-left: 14px;
    padding-top: 7px;
  }
  .skills__card-2 .skills__card-img {
    margin-left: -13px;
    margin-top: 8px;
    max-width: 200px;
    max-height: 200px;
  }
  .skills__card-2 .skills__card-title {
    margin-top: -19px;
  }
  .skills__card-2 .skills__card-txt {
    margin-top: -4px;
    margin-left: 3px;
    width: 188px;
  }
  .skills__card-2 .skills__card-btn {
    margin-top: 19px;
    font-size: 16px;
    width: 178px;
    height: 50px;
  }
  .skills__card-3 {
    padding-top: 34px;
    padding-left: 16px;
  }
  .skills__card-3 .skills__card-img {
    margin-left: -20px;
    max-width: 216px;
    max-height: 144px;
  }
  .skills__card-3 .skills__card-title {
    margin-top: 13px;
  }
  .skills__card-3 .skills__card-txt {
    width: 197px;
  }
  .skills__card-3 .skills__card-btn {
    margin-top: 23.5px;
    margin-left: 3px;
    font-size: 16px;
    width: 178px;
    height: 50px;
  }
  .skills__card-4 {
    padding-left: 20px;
  }
  .skills__card-4 .skills__card-img {
    margin-top: 57px;
    padding-top: 0;
    margin-left: -16px;
    width: 202px;
    height: 134px;
  }
  .skills__card-4 .skills__card-title {
    padding-top: 10px;
  }
  .skills__card-4 .skills__card-txt {
    max-width: 250px;
  }
  .skills__card-4 .skills__card-btn {
    font-size: 16px;
    width: 178px;
    height: 50px;
    margin-top: 14px;
  }

  .about {
    padding-bottom: 105px;
    padding-top: 36px;
    margin-left: 12px;
  }
  .about__content {
    max-width: auto;
    width: 350px;
  }
  .about__content-title {
    font-size: 30px;
  }
  .about__content-txt {
    margin-bottom: 25px;
    font-size: 14px;
    margin-top: -10px;
    width: 320px;
  }
  .about__items-2 {
    margin-left: 54px;
  }
  .about__items-3 {
    margin-left: 38px;
  }
  .about__item-number {
    margin-bottom: 12px;
    font-size: 22px;
  }
  .about__item-name {
    font-size: 13px;
  }
  .about-img {
    margin-right: 12px;
    margin-top: 50px;
    width: 295px;
    height: 295px;
  }

  .pricing {
    padding-bottom: 95px;
  }
  .pricing-title {
    margin-bottom: 45px;
    font-size: 30px;
  }
  .pricing__item-name {
    font-size: 20px;
    line-height: 140%;
  }
  .pricing__item-txt {
    font-size: 14px;
  }
  .pricing__price-number {
    font-size: 22px;
  }
  .pricing__item-1 img {
    margin-left: -3px;
    margin-bottom: 21px;
    width: 197px;
    height: 197px;
  }
  .pricing__item-1 h3 {
    margin-bottom: 14px;
    margin-left: 9px;
    width: 200px;
  }
  .pricing__item-1 p {
    margin-bottom: 24px;
    margin-left: 9px;
    width: 200px;
  }
  .pricing__item-1 .pricing__price {
    margin-left: 11px;
  }
  .pricing__item-1 .pricing__price-number {
    padding-top: 10px;
  }
  .pricing__item-1 .pricing__price-date {
    margin-left: 19px;
  }
  .pricing__item-2 {
    margin-left: 34px;
  }
  .pricing__item-2 img {
    margin-bottom: 21px;
    margin-top: 30px;
    margin-left: -4px;
    width: 219px;
    height: 168px;
  }
  .pricing__item-2 h3 {
    width: 150px;
  }
  .pricing__item-2 p {
    width: 220px;
    margin-bottom: 44px;
  }
  .pricing__item-2 .pricing__price-number {
    padding-top: 10px;
  }
  .pricing__item-2 .pricing__price-date {
    margin-left: 14px;
    padding-top: 14px;
  }
  .pricing__item-3 {
    margin-left: 21px;
  }
  .pricing__item-3 img {
    margin-left: 0px;
    margin-top: -5px;
    margin-bottom: 13px;
    width: 210px;
    height: 210px;
  }
  .pricing__item-3 h3 {
    width: 150px;
  }
  .pricing__item-3 p {
    width: 230px;
    margin-bottom: 50px;
  }
  .pricing__item-3 .pricing__price {
    margin-left: -1px;
  }
  .pricing__item-3 .pricing__price-number {
    margin-left: 19px;
    padding-top: 10px;
    font-size: 24px;
  }

  .contact {
    margin-bottom: 111px;
  }
  .contact-img {
    margin-left: -2px;
    width: 233px;
    height: 210px;
  }
  .contact__content {
    margin-left: 36px;
    padding-top: 0px;
  }
  .contact__content-title {
    margin-bottom: 5px;
    font-size: 30px;
    margin-top: -14px;
  }
  .contact__content-txt {
    margin-left: 3px;
    width: 400px;
    margin-bottom: 26px;
    font-size: 14px;
  }
  .contact__form-email_inside {
    padding-left: 24px;
    padding-top: 1px;
    margin-left: 0px;
    font-size: 12px;
    width: 283px;
    height: 50px;
    border-radius: 5px;
  }
  .contact__form-btn_inside {
    margin-left: 6px;
    margin-top: -1px;
    font-size: 13px;
    width: 145px;
    height: 50px;
    border-radius: 5px;
  }

  .footer {
    padding-bottom: 18px;
  }
  .footer__line {
    width: 690px;
  }
  .footer__inner {
    padding-top: 25px;
  }
  .footer-logo {
    margin-left: 10px;
  }
  .footer-nav {
    padding-top: 11px;
    margin-right: 10px;
    font-size: 13px;
  }
}

@media screen and (max-width: 740px) {
  .global__container {
    max-width: 510px;
  }
  .header {
    margin-bottom: 54px;
  }
  .header__top {
    margin-bottom: 16px;
  }
  .header__top-logo {
    padding-left: 0px;
    margin-left: -1px;
    padding-top: 21px;
  }
  .header__bottom {
    flex-direction: column-reverse;
    text-align: center;
  }
  .header__box {
    padding-top: 18px;
  }
  .header__box-title {
    font-size: 34px;
    max-width: 500px;
    margin-left: -2px;
    margin-bottom: 7px;
  }
  .header__box-icon {
    display: none;
  }
  .header__left-txt {
    margin-left: -5px;
    max-width: 500px;
    margin-bottom: 36.5px;
  }
  .header__left-btn {
    width: 305px;
    height: 75px;
    margin-left: -11px;
  }
  .header__bottom-img {
    width: 424px;
    height: 424px;
    margin: 0 auto;
    margin-left: 32px;
  }
  .sidenav {
    width: 100%;
  }
  .sidenav__top-logo {
    padding-top: 54px;
    padding-left: 33px;
    margin-bottom: 42px;
  }
  .sidenav-close {
    padding-top: 54px !important;
    margin-left: 360px;
  }
  .divider {
    width: 510px;
    margin-left: 33px !important;
    margin-bottom: 44px !important;
  }
  .sidenav-link {
    margin-bottom: 17px;
    font-size: 24px !important;
    margin-left: 1px;
  }
  .sidenav__top-btn {
    margin-top: 88px;
    width: 330px !important;
    height: 70px !important;
    font-size: 22px !important;
    margin-left: 33px;
    padding-left: 115px !important;
    padding-top: 10px !important; 
  }
  .sidenav-trigger {
    margin-top: 25px;
    margin-right: 17px;
  }
  .sidenav-trigger img {
    width: 43px;
    height: 24px;
  }

  .skills {
    padding-bottom: 0px;
  }
  .skills-title {
    margin-left: 11px;
    margin-bottom: 48px;
  }
  .skills__inner {
    margin-left: 0px;
    grid-template-columns: 240px 240px;
    grid-template-rows: 534px 534px;
    column-gap: 30px;
    row-gap: 34px;
  }
  .skills__card-1 {
    grid-row: auto;
  }
  .skills__card-1 .skills__card-img { 
    margin-bottom: -1px;
    margin-left: -7.5px;
    margin-top: -7.5px;
    max-width: 185px;
    max-height: 185px;
  }
  .skills__card-1 .skills__card-title {
    margin-bottom: 2px;
    margin-left: -2px;
  }
  .skills__card-1 .skills__card-txt {
    width: 190px;
    margin-left: -2px;
  }
  .skills__card span {
    padding-bottom: 18px;
  }
  .skills__card-1 .skills__card-btn {
    margin-top: 21.5px;
    margin-left: -2px;
    padding-right: 16px;
    font-size: 14px;
  }
  .skills__card {
    border-radius: 5px;
  }
  .skills__card-title {
    font-size: 18px;
  }
  .skills__card-txt {
    font-size: 12px;
  }
  .skills__card-btn {
    font-size: 14px;
    width: 200px;
    height: 50px;
  }
  .skills__card-2 {
    padding-top: 0px;
  }
  .skills__card-2 .skills__card-img {
    margin-left: 9px;
    margin-top: 5px;
    max-width: 182px;
    max-height: 182px;
  }
  .skills__card-2 .skills__card-title {
    margin-top: -5px;
    margin-left: 5px;
  }
  .skills__card-2 .skills__card-txt {
    margin-top: -5px;
    margin-left: 7px;
    width: 170px;
  }
  .skills__card-2 .skills__card-btn {
    margin-top: 130px;
    margin-left: 3px;
    width: 200px;
    font-size: 14px;
    padding-right: 20px;
  }
  .skills__card-3 {
    padding-left: 19px;
    padding-top: 30px;
  }
  .skills__card-3 .skills__card-img {
    max-width: 198px;
    max-height: 132px;
  }
  .skills__card-3 .skills__card-title {
    margin-top: 14px;
    margin-left: -4px;
  }
  .skills__card-3 .skills__card-txt {
    margin-top: 2px;
    margin-left: -4px;
    line-height: 167%;
  }
  .skills__card-3 .skills__card-btn {
    margin-top: 120px;
    width: 200px;
    margin-left: -4px;
    font-size: 14px;
    padding-right: 16px;
  }
  .skills__card-4 {
    grid-column: auto;
    flex-direction: column;
  }
  .skills__card-4 .skills__card-img {
    margin-top: 38px;
    margin-left: -5px;
    width: 206px;
    height: 137px;
  }
  .skills__card-4 .skills__card-title {
    padding-top: 9px;
    margin-left: 1px;
    margin-bottom: 3px;
  }
  .skills__card-4 .skills__card-txt { 
    max-width: 190px;
    margin-left: 4px;
    line-height: 165%;
  }
  .skills__card-4 .skills__card-btn {
    margin-top: 137.5px;
    margin-left: -2px;
    width: 200px;
    font-size: 14px;
    padding-right: 16px;
  }

  .about {
    padding-bottom: 150px;
    padding-top: 85px;
  }
  .about__inner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about__content {
    width: 520px;
  }
  .about__content-title {
    display: none;
  }
  .about__content-title_mobile {
    font-family: var(--semiBold);
    font-size: 30px;
    line-height: 267%;
    color: #000;
    display: block;
    margin-left: -11px;
  }
  .about__content-txt {
    margin-top: -6px;
    margin-left: -16px;
    width: 520px;
    margin-bottom: 38px;
  }
  .about__items-1 {
    margin-left: 33px;
  }
  .about__items-2 {
    margin-left: 101px;
    margin-top: -1px;
  }
  .about__items-3 {
    margin-left: 83px;
    margin-top: -6px;
  }
  .about__item-number {
    margin-bottom: 6px;
    font-size: 24px;
  }
  .about__item-name {
    font-size: 14px;
  }
  .about-img {
    margin-right: 0px;
    margin-left: 75px;
    margin-top: 22px;
    width: 352px;
    height: 352px;
  }

  .pricing {
    padding-bottom: 164px;
  }
  .pricing__inner {
    flex-direction: column;
  }
  .pricing__item-name {
    font-size: 24px;
    line-height: 117%;
    text-align: center;
  }
  .pricing__item-txt {
    font-size: 14px;
    text-align: center;
  }
  .pricing__price {
    width: 205px;
    height: 45px;
  }
  .pricing__item-1 img {
    margin-left: 110px;
    margin-top: 25px;
    width: 291px;
    height: 291px;
  }
  .pricing__item-1 h3 {
    margin-bottom: 22px;
    margin-top: 5px;
    margin-left: 0px;
    width: 100%;
  }
  .pricing__item-1 p {
    margin-bottom: 31px;
    margin-left: 54px;
    width: 400px;
  }
  .pricing__item-1 .pricing__price {
    margin-left: 153px;
  }
  .pricing__item-1 .pricing__price-number {
    padding-top: 11px;
    margin-left: 17px;
  }
  .pricing__item-1 .pricing__price-date {
    margin-left: 20px;
  }
  .pricing__item-2 {
    margin-left: 0px;
  }
  .pricing__item-2 img {
    margin-bottom: 18.5px;
    margin-top: 72px;
    margin-left: 99px;
    width: 314px;
    height: 241px;
  }
  .pricing__item-2 h3 {
    width: 100%;
    margin-bottom: 19px;
  }
  .pricing__item-2 p {
    width: 350px;
    margin-left: 78px;
    margin-bottom: 32px;
  }
  .pricing__item-2 .pricing__price {
    margin-left: 159px;
  }
  .pricing__item-2 .pricing__price-number {
    padding-top: 9px;
    padding-left: 6px;
  }
  .pricing__item-2 .pricing__price-date {
    padding-top: 13px;
  }
  .pricing__item-3 {
    margin-left: 0px;
  }
  .pricing__item-3 img {
    margin-left: 120px;
    margin-top: 70px;
    margin-bottom: 14px;
    width: 253px;
    height: 253px;
  }
  .pricing__item-3 h3 {
    width: 100%;
    margin-left: -9px;
    margin-bottom: 21px;
  }
  .pricing__item-3 p {
    width: 400px;
    margin-bottom: 31px;
    margin-left: 45px;
  }
  .pricing__item-3 .pricing__price {
    margin-left: 144px;
  }
  .pricing__item-3 .pricing__price-number {
    padding-top: 9px;
  }

  .contact {
    margin-bottom: 144px;
  }
  .contact__inner {
    flex-direction: column;
  }
  .contact-img {
    margin-left: 82px;
    width: 358px;
    height: 322px;
    margin-bottom: 35px;
  }
  .contact__content-title {
    display: none;
  }
  .contact__content-title_mobile {
    display: block;
    font-family: var(--semiBold);
    font-size: 30px;
    line-height: 267%;
    color: #000;
    text-align: center;
    margin-left: -1px;
    margin-bottom: 81px;
  }
  .contact__content-txt {
    margin-left: -25px;
    margin-bottom: 60px;
    font-size: 16px;
    width: 490px;
    text-align: center;
  }
  .contact__form-email_inside {
    border-radius: 10px;
    width: 330px;
    height: 60px;
    font-size: 13px;
    margin-left: -36px;
  }
  .contact__form-btn_inside {
    margin-top: 0px;
    border-radius: 10px;
    width: 193px;
    height: 60px;
    font-size: 16px;
    margin-left: -11px;
    margin-right: -10px;
  }

  .footer__line {
    width: 510px;
    margin: 0 auto;
  }
  .footer-logo {
    margin-left: -1px;
    margin-top: 5px;
  }
  .footer-nav {
    padding-top: 15px;
    margin-right: -2px;
    font-size: 12px;
  }
}