/* Global */
* {
  box-sizing: border-box;
}
:root {
  --regular: Pop-regular;
  --semiBold: Pop-semiBold;
  --medium: Pop-medium;
}
.global__container {
  max-width: 1340px;
  margin: 0 auto;
}

/* Header  */
.header {
  padding-top: 55px;
  padding-bottom: 73px;
}
.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}
.header__top-logo {
  font-family: var(--regular);
  font-size: 36px;
  color: #000;
  padding-top: 11px;
}
.header__top-logo span {
  color: #939393;
}
.header__nav {
  display: flex;
  gap: 39px;
  padding-top: 21px;
  margin-left: 8px;
}
.header__nav-link {
  font-family: var(--medium);
  font-size: 20px;
  color: #263238;
  text-decoration: none;
  cursor: pointer;
}
.header__top-btn {
  border: 2px solid #263238;
  border-radius: 5px;
  width: 220px;
  height: 70px;
  background-color: #fff;
  font-family: var(--regular);
  font-size: 24px;
  color: #000;
  cursor: pointer;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
}
.header__left {
  max-width: 550px;
}
.header__box {
  display: flex;
  margin-bottom: 40px;
  padding-top: 49px;
}
.header__box-title {
  font-family: var(--semiBold);
  font-size: 64px;
  line-height: 125%;
  color: #000;
  max-width: 400px;
}
.header__box-icon {
  width: 117px;
  height: 117px;
  margin-top: 94px;
  margin-left: 25px;
}
.header__left-txt {
  font-family: var(--regular);
  font-size: 24px;
  color: #8f95a5;
  margin-bottom: 62px;
  line-height: 150%;
}
.header__left-btn {
  border-radius: 15px;
  width: 438px;
  height: 118px;
  background: #263238;
  font-family: var(--regular);
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}
.header__bottom-img {
  width: 661px;
  height: 661px;
  margin-right: -8px;
}

/* Skills */
.skills {
  padding-top: 30px;
  padding-bottom: 200px;
}
.skills-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 92px;
  text-align: center;
}
.skills__inner {
  display: grid;
  grid-template-columns: 435px 435px 435px;
  grid-template-rows: 531px 343px;
  row-gap: 18px;
  column-gap: 20px;
}
.skills__card {
  border-radius: 10px;
  background: #f5f5f5;
}
.skills__card-1 {
  grid-row: 1/3;
  padding-left: 40px;
  padding-right: 45px;
  padding-top: 35px;
}
.skills__card-1 .skills__card-img {
  margin-bottom: 1px;
  max-width: 390px;
  max-height: 390px;
  margin-left: -22px;
  margin-top: 4px;
}
.skills__card-1 .skills__card-title {
  margin-bottom: 5px;
}
.skills__card span {
  padding-bottom: 25px;
  display: block;
}
.skills__card-1 .skills__card-btn {
  margin-top: 36px;
}
.skills__card-img {
}
.skills__card-title {
  font-family: var(--semiBold);
  font-size: 30px;
  line-height: 267%;
  color: #263238;
}
.skills__card-txt {
  font-family: var(--regular);
  font-size: 14px;
  color: #8f95a5;
  line-height: 150%;
}
.skills__card-btn {
  border-radius: 5px;
  width: 230px;
  height: 60px;
  background: #263238;
  font-family: var(--medium);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.skills__card-2 {
  padding-left: 36px;
  padding-right: 10px;
}
.skills__card-2 .skills__card-img {
  max-width: 293px;
  max-height: 293px;
  margin-left: 80px;
}
.skills__card-2 .skills__card-title {
  margin-top: -41px;
}
.skills__card-2 .skills__card-txt {
  margin-top: -8px;
}
.skills__card-2 .skills__card-btn {
  margin-top: 32px;
  width: 218px;
  height: 60px;
}
.skills__card-3 {
  padding-left: 33px;
  padding-top: 12px;
  padding-right: 35px;
}
.skills__card-3 .skills__card-img {
  max-width: 371px;
  max-height: 247px;
  margin-left: -40px;
}
.skills__card-3 .skills__card-title {
  margin-top: -4px;
}
.skills__card-3 .skills__card-txt {
  margin-top: -13px;
  margin-left: 2px;
}
.skills__card-3 .skills__card-btn {
  margin-top: 34px;
  margin-left: 2px;
  width: 218px;
  height: 60px;
}
.skills__card-4 {
  grid-column: 2/4;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 43px;
  justify-content: start;
}
.skills__card-4 .skills__card-img {
  width: 382px;
  height: 310px;
  padding-top: 49px;
  margin-left: 90px;
}
.skills__card-4 .skills__card-title {
  padding-top: 50px;
}
.skills__card-4 .skills__card-txt {
  max-width: 340px;
  margin-top: -5px;
}
.skills__card-4 .skills__card-btn {
  margin-top: 25px;
  width: 218px;
  height: 60px;
  margin-left: -4px;
}
.skills__card_content {
}

/* About */
.about {
  padding-bottom: 188px;
  padding-top: 58px;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.about__content {
  max-width: 635px;
  padding-top: 31px;
  margin-left: 1px;
}
.about__content-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 23px;
}
.about__content-txt {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
  margin-bottom: 38px;
  line-height: 150%;

}
.about__items {
  display: flex;
}
.about__item {
  text-align: center;
}
.about__items-2 {
  margin-left: 141px;
}
.about__items-3 {
  margin-left: 89px;
}
.about__item-number {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #2a3246;
  margin-bottom: 3px;
}
.about__item-name {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
}
.about-img {
  width: 500px;
  height: 500px;
  margin-right: 11px;
}

/* Pricing */
.pricing {
  padding-bottom: 257px;
}
.pricing-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 58px;
  text-align: center;
}
.pricing__inner {
  display: flex;
}
.pricing__item {
}
.pricing__item-img {
}
.pricing__item-name {
  font-family: var(--semiBold);
  font-size: 30px;
  line-height: 160%;
  color: #263238;
}
.pricing__item-txt {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
  line-height: 150%;
}
.pricing__price {
  border-radius: 5px;
  width: 240px;
  height: 45px;
  background: #eee;
  display: flex;
}
.pricing__price-number {
  font-family: var(--regular);
  font-size: 30px;
  color: #263238;
}
.pricing__price-date {
  font-family: var(--regular);
  font-size: 18px;
  color: #546269;
}
.pricing__item-1 {

}
.pricing__item-1 img {
  width: 311px;
  height: 311px;
  margin-left: 26px;
  margin-bottom: 37px;
}
.pricing__item-1 h3 {
  margin-bottom: 20px;
}
.pricing__item-1 p {
  max-width: 650px;
  margin-bottom: 27px;
}
.pricing__item-1 .pricing__price-number {
  margin-left: 26px;
  padding-top: 9px;
}
.pricing__item-1 .pricing__price-date {
  margin-left: 13px;
  padding-top: 12px;
}
.pricing__item-2 {
  margin-left: 53px;
}
.pricing__item-2 img {
  width: 391px;
  height: 283px;
  margin-left: -2px;
  margin-top: 25px;
  margin-bottom: 40px;
}
.pricing__item-2 h3 {
  margin-bottom: 23px;
}
.pricing__item-2 p {
  max-width: 400px;
  margin-bottom: 58px;
}
.pricing__item-2 .pricing__price {
  margin-left: 3px;
}
.pricing__item-2 .pricing__price-number {
  margin-left: 19px;
  padding-top: 9px;
}
.pricing__item-2 .pricing__price-date {
  margin-left: 8px;
  padding-top: 12px;
}
.pricing__item-3 {
  margin-left: 37px;
}
.pricing__item-3 img {
  width: 340px;
  height: 340px;
  margin-left: 51px;
  margin-top: -1px;
  margin-bottom: 9px;
}
.pricing__item-3 h3 {
  margin-bottom: 20px;
}
.pricing__item-3 p {
  margin-bottom: 58px;
  max-width: 670px;
}
.pricing__item-3 .pricing__price {
}
.pricing__item-3 .pricing__price-number {
  margin-left: 17px;
  padding-top: 8px;
}
.pricing__item-3 .pricing__price-date {
  margin-left: 7px;
  padding-top: 12px;
}

/* Contact */
.contact {
  margin-bottom: 133px;
}
.contact__inner {
  display: flex;
}
.contact-img {
  width: 477px;
  height: 429px;
  margin-left: -19px;
}
.contact__content {
  margin-left: 112px;
  padding-top: 34px;
}
.contact__content-title {
  font-family: var(--semiBold);
  font-size: 48px;
  line-height: 167%;
  color: #000;
  margin-bottom: 37px;
}
.contact__content-txt {
  font-family: var(--regular);
  font-size: 20px;
  color: #8f95a5;
  margin-bottom: 52px;
  line-height: 150%;
}
.contact__form {
  display: flex;
}
.contact__form-email {
  border: 1px solid #8f95a5;
  border-radius: 10px;
  width: 450px;
  height: 80px;
  font-family: var(--regular);
  font-size: 16px;
  color: #8f95a5;
  padding-left: 32px;
  margin-left: 1px;
}
.contact__form-btn {
  margin-left: 12px;
  border-radius: 10px;
  width: 264px;
  height: 80px;
  background: #263238;
  font-family: var(--medium);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-top: -3px;
}
